<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Details</title>
  </head>
  <body>
    <h1><%= rows[0]['eventName'] %></h1>
    <h2>City: <%= rows[0]['eventCity'] %>, <%= rows[0]['eventState'] %></h2>
    <h2>Event Type: <%= rows[0]['eventType'] %></h2>
    <h2>Event Venue: <%= rows[0]['eventVenue'] %></h2>
    <h2>Event Date: <%= rows[0]['eventDate'] %></h2>
  </body>
</html>
